<footer class="bg-color-opt">
    <div class="d-flex justify-content-center">
        <a style="opacity: 0.5;" class="p-2 mt-4" href="https://www.instagram.com/baugustoliveira/">
            <i class="bi bi-instagram"></i>
        </a>
        <a style="opacity: 0.5;" class="p-2 mt-4"
            href="https://api.whatsapp.com/send?phone=5511984452261&text=Fala%20Bruno,%20tudo%20bem?%20Acabei%20de%20dar%20uma%20olhada%20no%20seu%20site%20e%20gostaria%20de%20saber%20mais%20sobre%20os%20seus%20servi%C3%A7os!"><i
                class="bi bi-whatsapp"></i></a>
    </div>
    <div class="container primary-color justify-content-center d-flex">
        <p style="opacity: 0.5;" class="mb-4">&copy; 2024 Bruno Oliveira. All Rights Reserved.</p>
    </div>
</footer>